body {
	font-family: 'Open Sans', Arial, sans-serif;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
}

section {
	background: #cccccc; 
	padding-top: 80px;
	padding-bottom: 80px ;
}

.box {
	box-shadow: 0px 0px 10px 0px #888888;
    background: #fff;
    padding: 40px 20px;
    margin-bottom: 20px;
    text-align: center;
	max-width: 300px;
	min-height: 330px;
}

.box-group .col-3 .box {
	margin: 0 10px;
}

.row::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.modal {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.content {
	background: #fff;
    padding: 40px;
    width: 400px;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
}

ul.top-nav > li {
    list-style: none;
    padding: 10px 30px;
    display: inline-block;
    font-size: 20px;
    background: #afafaf;
    position: relative;
}
 /*Свойства работают при наведении :hover*/
ul.top-nav > li:hover {
    background: purple;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    box-shadow: inset 1px 1px 31px rgba(0, 0, 0, 0.4)
}

.level-2 {
	position: absolute;
	list-style: none;
	padding: 0;
	left: 0;
	margin-top: 10px;
	/* top: 74px;*/
    display: none;
}

li:hover .level-2 {
    display: block;
}



.level-2 li{
	padding: 10px 30px;
    display: inline-block;
    font-size: 20px;
    background: #afafaf;
    position: relative;
}

.photo-gallery {
    display: flex;
    /*flex-direction: row;*/
    /* overflow: hidden; */
    flex-wrap: wrap;
    /*font-size: 0; */
    justify-content: space-between;
    height: 500px;
    align-items: center;
}

label.action-button {
    display: inline-block;
    padding: 10px;
    border: 2px solid;
    cursor: pointer;
}

.toggler {
    display: none;
}

.toggler:checked + .modal {
    display: block;
}

h2::after/*span*/ {
    content: "";
    display: block;
    height: 3px;
    background: #000;
    width: 100px;
    margin: auto;
    margin-top: 10px;
}

ul.top-nav > li::before {
    content: "";
    position: absolute;
    border: 7px solid rgba(180, 70, 70, 0);
    border-left: 10px solid #000;
    left: 0;
    top: 32px;
}

.photo-gallery__item img {
    opacity: 0.5;
    transition: all 1s ease 0.2s;
}

.photo-gallery__item img::hover {
    opacity: 1;
}

.edit-box {
    background: #fff;
    width: 250px;
    position: relative;
    padding: 10px;
}

.edit-box img {
    transform: translate(0, 0);
    animation: typing 3s ease infinite 0.2s;
}

@keyframes typing {
    0% {
        transform: translate(0, 0) rotate(0);
    }
    50% {
        transform: translate(20px, 0) rotate(-25deg);
    }
    100% {
        transform: translate(200px, 0) rotate(0);
    }
}